<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Ana.jpg" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p>Ana Emilia Espinosa</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi maiores aliquid sit nemo repudiandae necessitatibus quo, quam, delectus corporis et ex mollitia a quasi veniam. Quos ullam voluptates ipsa. A!</p>
        </span>
    </div>
</div>
