<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo 1</h1> - 
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis aspernatur voluptatum voluptatem molestiae, architecto dolor voluptas autem modi. Accusamus pariatur voluptatem eum deleniti rem labore ipsa corporis laborum quae?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 2</h1> - 
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis aspernatur voluptatum voluptatem molestiae, architecto dolor voluptas autem modi. Accusamus pariatur voluptatem eum deleniti rem labore ipsa corporis laborum quae?</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo 3</h1> - 
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente corporis aspernatur voluptatum voluptatem molestiae, architecto dolor voluptas autem modi. Accusamus pariatur voluptatem eum deleniti rem labore ipsa corporis laborum quae?</p>
        </ul>
    </div>
</div>

